@media (max-width: 1023px) {
    .place-buy-btn {
        padding:  15px 16px;
    }
    
    #nav .subnav a {
        padding: 5px 12px;
    }

    
    .contact-form .form-control {
        padding: 15px;
    }

    .contact-info {
        line-height: 2;
    }
    
    #footer .social-list a {
        margin: 0px 8px;
    }

    .social-list {
        font-size: 48px;
    } 

    #footer .copyright a {
        display: inline-block;
    }
}

@media (min-width:740px) and (max-width: 1023px) {
    .contact-info {
        line-height: 2;
    }

}
@media (max-width:740px) {
    
    .s-full-width,
    .s-col-full {
        width: 100%!important;
    }

    .s-mt-8 {
        margin-top: 8px!important;
    }
    

    #nav {
        display: block;
    }
 
   #nav .subnav {
       position: initial;
       background-color: #333; ;
   }

   #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
   }

   #nav li a {
       padding: 1px 24px;
   }

    #nav >li {
       display: block;
   }

   #nav  li:first-child {
       display: inline-block;
   }

   #header {
       overflow: hidden;
   }

   #header .search-btn{
       display: none;
   }

   #header .moblie-menu-btn {
       display: block;
   }

   #header .search-btn {
       display: none;
   }


   #content .member-img {
       width: 60%;
   }

   .contact-form {
       margin-top: 32px;
   }
}